$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
}

#filterGroupModal .modal-dialog {
  max-width: 95%;

  @media (min-width: $breakpoint-sm) {
    max-width: 90%;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 80%;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 75%;
  }
}
